body {
    margin: 0;
    overflow-x: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    
}

.desert-sky {
    background: linear-gradient(180deg, #3E62A8 0%, #477FEB 50%, rgba(240, 191, 65, 0.85) 100%);
    height: 20vh;
}
.back-desert {
    height: 30vh;
}
.rail-train {
    height: 40vh;
}
.front-desert {
    height: 10vh;
}

.front-desert, .rail-train, .back-desert {
    background-color: #F0A741;
    position: relative;
}

.railway {
    position: absolute;
    bottom: 0;
}

.train {
    display: flex;
    position: absolute;
    bottom: 10px;
}
.studies {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.study {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.study h3 {
    background-color: black;
    padding: 3px 10px;
    color: white;
    border-radius: 15px;
}

.study img {
    display: none;
}
/* .study:hover, img {
    display: block;
} */

.wagon {
    position: relative;
}



/* train */



#little-wheels{
    position: relative;
    display: flex;
    bottom: 42px;
    left: 142px;
}
.little-wheel {
    width: 24px;
    margin: 0 2px;
    animation: 1s linear infinite roue;
}

#big-wheels{
    position: relative;
    display: flex;
    bottom: 80px;
    left: 40px;
    
}
.big-wheel {
    width: 38px;
    margin: 0 4px;

    animation: 1.5s linear infinite roue;
}

@keyframes roue {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }

.front-desert img {
    bottom: 0;
    right: -200px;
    position: absolute;
    animation: 8s linear 0s infinite firstplan;
}
.front-desert .cactus {
    width: 199px;
}

.front-desert .dune {
    z-index: 2;
}

@keyframes firstplan {
    from { transform: translateX(1500px); }
    to   { transform: translateX(-2000px); }
  }